@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../assets/images/cave1.jpg);
  padding: 0 20px;
  overflow: hidden;
}
h1 {
  color: aliceblue;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  text-shadow: 2px 2px 5px red;
}
h1.fourty {
  font-size: 6vw;
}
h1.fifty {
  font-size: 4vw;
}
h6 {
  font-size: 2vw;
  text-align: center;
  font-family: cursive;
  color: #ff0707;
  z-index: 1;
  position: absolute;
  left: 46%;
}
a {
  color: #7aaaff;
  font-size: larger;
  font-weight: 700;
  position: absolute;
  right: 70%;
  bottom: 50%;
  background: #0a34ff38;
  backdrop-filter: blur(4px);
  padding: 1rem;
  border-radius: 10px;
}
img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 74%;
  animation: moooove 10s infinite ease-in-out both;
  transform-origin: bottom;
}
@keyframes moooove {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(0.8);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
